<div class="ressource-presentation text-center">
  <h2>Les annonces</h2>
</div>


<p class="text-center">Sur cette page vous trouverez les annonces importantes de l'église.</p>

  <div class="container md-3">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>


<div class="annonces-cards">
<div class="row row-cols-1 row-cols-md-5 g-4">
  <div class="col">
    <div class="card h-70">
      <a routerLink="/ressources/annonces">
        <img class="card-img-top" style="height: 200px;" src="assets/images_provisoire_ressource/annonce.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Annonce du 12/05/2024</h5>
          </div>
        </a>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-70">
      <img class="card-img-top" style="height: 200px;" src="assets/images_provisoire_ressource/annonce.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Annonce du 12/05/2024</h5>
        <a routerLink="/ressources/annonces"></a>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img class="card-img-top" style="height: 200px;" src="assets/images_provisoire_ressource/annonce.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Annonce du 12/05/2024</h5>
        <a routerLink="/ressources/annonces"></a>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img class="card-img-top" style="height: 200px;" src="assets/images_provisoire_ressource/annonce.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Annonce du 12/05/2024</h5>
        <a routerLink="/ressources/annonces"></a>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <a routerLink="/ressources/annonces">
  <div class="col">
    <div class="card h-90">
      <img class="card-img-top" style="height: 200px;" src="assets/images_provisoire_ressource/annonce.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Annonce du 12/05/2024</h5>

      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>


    </div>
  </div>
</a>
</div>

</div>

<div class="d-flex justify-content-center p-3">
  <a routerLink="/ressources/voir-toutes-les-pages" class="btn btn-ressource">Retour</a>
</div>
