
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


<div class="ressource-presentation text-center">
  <h2>Les annonces</h2>
</div>


<h5 class="text-center">Sur cette page vous trouverez les annonces importantes de l'église.</h5>

  <div class="container md-3">
    <form class="d-flex" role="search" action="/">
      <input class="form-control me-2" type="search" placeholder="Tapez votre recherche" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Recherche</button>
    </form>
  </div>


<div class="annonces-cards">
<div class="row row-cols-1 row-cols-md-5 g-4">
  <div class="col">
    <div class="card h-70">
      <a routerLink="/ressources/annonces-detail">
        <img class="card-img-top" style="height: 200px;" src="assets/images_provisoire_ressource/img-annonces/annonces.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Annonces pour le mois de juillet</h5>
          </div>
        </a>
      <div class="card-footer">
        <small class="text-body-secondary">publié le 30 juin 2024</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-70">
      <a routerLink="/ressources/annonces-detail">
      <img class="card-img-top" style="height: 200px;" src="assets/images_provisoire_ressource/annonce.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Annonces pour le mois d'Août</h5>
      </div>
    </a>

      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <a routerLink="/ressources/annonces-detail">
      <img class="card-img-top" style="height: 200px;" src="assets/images_provisoire_ressource/img-annonces/annonces.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Annonces pour le mois de Septembre</h5>
      </div>
    </a>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <a routerLink="/ressources/annonces-detail">
      <img class="card-img-top" style="height: 200px;" src="assets/images_provisoire_ressource/annonce.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Annonces pour le mois de Octobre</h5>
      </div>
    </a>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <a routerLink="/ressources/annonces-detail">
      <img class="card-img-top" style="height: 200px;" src="assets/images_provisoire_ressource/img-annonces/annonces.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Annonces pour le mois de Octobre</h5>
      </div>
    </a>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <a routerLink="/ressources/annonces-detail">
      <img class="card-img-top" style="height: 200px;" src="assets/images_provisoire_ressource/annonce.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Annonces pour le mois de Octobre</h5>
      </div>
    </a>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <a routerLink="/ressources/annonces-detail">
      <img class="card-img-top" style="height: 200px;" src="assets/images_provisoire_ressource/img-annonces/annonces.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Annonces pour le mois de Octobre</h5>
      </div>
    </a>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>


  <div class="col">
    <div class="card h-100">
      <a routerLink="/ressources/annonces-detail">
      <img class="card-img-top" style="height: 200px;" src="assets/images_provisoire_ressource/annonce.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Annonces pour le mois de Octobre</h5>
      </div>
    </a>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <a routerLink="/ressources/annonces-detail">
      <img class="card-img-top" style="height: 200px;" src="assets/images_provisoire_ressource/img-annonces/annonces.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Annonces pour le mois de Octobre</h5>
      </div>
    </a>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-90">
      <a routerLink="/ressources/annonces-detail">
      <img class="card-img-top" style="height: 200px;" src="assets/images_provisoire_ressource/annonce.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Annonces du mois de Novembre </h5>
      </div>
    </a>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>


    </div>
  </div>
</div>

</div>

<div class="d-flex justify-content-center p-3">
  <a routerLink="/ressources/voir-toutes-les-pages" class="btn-annonce">Retour</a>
</div>
