.ft-bg {
    background-color: rgba(31, 76, 96, 0.3);
}

.footer-bg {
    background-color: aqua;
    height: 90px;
}

.footer-bg div a {
    text-decoration: none;
}
.footer-bg div a:hover {
    text-decoration: underline;
}