<div *ngIf="accueil" class="d-block m-2 ft-bg">
    <div class="row m-2 p-2">
        <div class="col-sm-8">{{accueil.accueil.nomEglise}}</div>
        <div class="col-sm-4">Plan du site</div>
    </div>
    <div class="row m-2 p-2">
        <div class="col-sm-3">
            <span class="d-block">{{accueil.accueil.numeroLibelleAdresse}}</span>
            <span class="d-block">{{accueil.accueil.codePostaleVillePays}}</span>

            <span class="d-block mt-2">Téléphone : {{accueil.accueil.numeroTelephone}}</span>
            <h3 class="mt-2">Nos réseaux sociaux</h3>
        </div>
        <div class="col-sm-3">
            <h3 class="m-0">Ouverture des portes</h3>
            <span class="d-block mt-2">{{accueil.accueil.premierJourCulte}}</span>
            <span class="d-block">{{accueil.accueil.deuxiemeJourCulte}}</span>
            <span class="d-block">{{accueil.accueil.troisiemeJourCulte}}</span>
            <span class="d-block">{{accueil.accueil.autreJoureCulte}}</span>
        </div>
        <div class="col-sm-3">
            <img class="container" src="assets/accueil/chandelier.PNG" />
        </div>
        <div class="col-sm-3">
            <h3>Accueil</h3>
            <h3>A propos</h3>
            <ul>
                <li>Qui sommes-nous ?</li>
                <li>Bibliographie du pasteur</li>
                <li>Les offices</li>
            </ul>
            <h3>Prédications</h3>
            <h3>Services</h3>
            <ul>
                <li>Nous réjoindre</li>
                <li>Nous contacter</li>
            </ul>
            <h3>Ressources</h3>
        </div>
    </div>
    <div class="row m-0 footer-bg align-content-center">
        <div class="col-sm-4"><a routerLink="/"> &copy;{{pat_date_creation}} - {{date |date:'yyyy'}} {{accueil.accueil.nomEglise}}</a></div>
        <div class="col-sm-4"><a routerLink="/mentions-legales">Mentions légales</a></div>
        <div class="col-sm-4"><a routerLink="/tous-droits-reserves">Tous droits réservés</a></div>
    </div>
</div>