<h2 class="ressource-presentation text-center">Les offices dans l'Eglise</h2>

<div class="container  text-center ">
    <div class="row justify-content-evenly">
      <div class="col-6">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <h5>Le Pasteur</h5>
               
              </div>
              <div class="carousel-item">
                <h5>Les Diacres</h5>
              </div>
              <div class="carousel-item">
                <h5>Les administrateurs</h5>
              </div>
              <div class="carousel-item">
                <h5>Les huissiers</h5>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>
     
       
     
    </div>
  </div>


  <div class="row ">
    <p> Les diacres sont ceux qui–qui doivent régler ce conflit, ou plutôt ce problème, parce que, dans la Bible, 
      lorsque survint cette dispute concernant la nourriture, les vêtements, et ainsi de suite, 
      dans le Livre des Actes, on fit appel aux apôtres à ce sujet, et ceux-ci dirent 
      : “Choisissez donc parmi vous sept hommes, de qui l’on rende un bon témoignage et qui soient pleins
       du Saint-Esprit, afin qu’ils puissent s’occuper de ces choses; pour nous, nous continuerons à nous
        appliquer à la Parole de Dieu et à la prière.”</p>

       
      
       <p> The passage experienced a surge in popularity during the 1960s when Letraset used it on their dry-transfer sheets, 
        and again during the 90s as desktop publishers bundled the text with their software. Today it's 
        seen all around the web; on templates, websites, and stock designs. Use our generator to get your 
        own, or read on for the authoritative history of lorem ipsum.
      
      </p>

  </div>
