<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h4 class="orange-text">Horaires des services :</h4>
        <p>Dimanche : de 10h30 à 13h30</p>
        <p>Jeudi : de 19h30 à 21h00</p>
        <p>Service de sainte-cène : chaque premier samedi du mois</p>
      </div>
      <div class="col-md-6">
        <h4 class="orange-text">Adresse de l'église :</h4>
        <p>26 Rue Jules Guesde, 94140 Alfortville, France</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <h4 class="orange-text">Description de l'église :</h4>
        <p>Breve présentation de l'église Pierre Angulaire, de ses valeurs et de sa mission.</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <h4 class="orange-text">Instructions pour se rendre à l'église :</h4>
        <p>Indications sur la manière de se rendre à l'église en transport en commun ou en voiture. Vous pouvez consulter la <a href="lien_vers_votre_carte">carte</a> pour obtenir des instructions détaillées.</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <h4 class="orange-text">Invitation à rejoindre les services :</h4>
        <p>Encouragement à venir participer aux services de l'église et à découvrir la communauté.</p>
      </div>
    </div>
  </div>
  