<div class="row m-2">
  <div class="col-md-4 border-end">
    <h3>Dévenir disciple de Jésus Christ</h3>
    <p class="justify">
      Pour être disciple de Jésus en cet âge, le prophète du temps de
      la fin nous résume ce fait en quelques actes hormis le fait de se trouver une église locale :
    </p>
    <ul>
      <li>La présence à son église locale les jours de service</li>
      <li>Le paiement de la dîme et des offrandes </li>
      <li>Le bâptème au nom du Seigneur Jésus Christ</li>
    </ul>
    <p class="justify">
      Ainsi chaque église locale est autonome tout comme chaque membre. Aucune demande de figurer sur une
      liste de membres ne vous sera formulée. L'engagement à suivre Christ doit-être un acte de foi, déconsidéré
      de toute autre considération.
    </p>
    <p class="justify">
      La Pierre Angulaire Tabernacle comme ses églises soeurs, a pour vocation de sauver des âmes par la prédication
      de la foi en Jésus via ses prophètes et ses éphésiens 4.
    </p>
  </div>
  <div class="col-md-8">
    <h2>Nouvelle organisation du l'église</h2>
    <p class="justify">
      En début d'annèe 2025, le pasteur Vimalin Roger, pasteur de l'église Pierre Angulaire Tabernacle a réuni son
      assemblée pour donner une vision du future tant spirituelle que matérielle. Sur l'ordre et le service, voici ce
      qui
      a été décidé :
    </p>
    <table class="tb">
      <tr class="border-bottom tr">
        <th>JOUR</th>
        <th>DEROULEMENT</th>
      </tr>

      <tr>
        <td>JEUDI</td>
        <td>
          <ul>
            <li>19h - 19h30 : OUVERTURE DES PORTES</li>
            <li>19h30 : CHANTS</li>
            <li>19h50 : PREDICATION</li>
            <li>20h45 : FIN DE LA PREDICATION</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>SAMEDI</td>
        <td>
          <ul>
            <li>15h30 - 16h30 : OUVERTURE DES PORTES</li>
            <li>16h30 - 18h : CHANTS & PRIERES</li>
            <li>18h00 : SAINTE CENE & LAVAGE DES PIEDS</li>
            <li>20h45 : FIN DE LA PREDICATION</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>DIMANCHE</td>
        <td>
          <ul>
            <li>10h20 : OUVERTURE DES PORTES</li>
            <li>10h30 : ECOLES DU DIMANCHE</li>
            <li>11h10 : CHANTS</li>
            <li>11h45 : PREDICATION</li>
            <li>13h15 : FIN DE LA PREDICATION</li>
            <ul>
              <li>ANNONCES</li>
              <li>TEMOIGNAGES</li>
              <li>PRESENTATIONS DES VISITEURS</li>
              <li>PRIERES</li>
              <li>OFFRANDES</li>
              <li>FIN DES SERVICES</li>
            </ul>
          </ul>
        </td>
      </tr>
    </table>
  </div>

</div>