.ressource-presentation h2{
  color:#FF7E05;

}



.card{
  background-color: rgba(31, 76, 96, 0.3);
  height: 280px;
  width:300px;


}
.card a{
  text-decoration: none;
  color:black;


}

/* visited link */
.card:visited {
  color: green;
}

/* mouse over link */
.card:hover{

  background-color: rgb(225, 208, 179);
  opacity: 0.9;
  color:rgb(6, 6, 6);

}

.card img:hover {
  opacity: 0.5;
}


/* selected link */
.card:active {
  color: rgb(34, 34, 32);
}

.card h6{

  font-weight:bolder;
}
.card-body{
  padding: 0;
}

.btn-ressource{
  background-color:#2F2E3D ;
  color:white;
  transition: 0.3s;


}

.btn-ressource:hover{

  background-color:rgb(151, 214, 226);
  color: black;
}

/* Extra small devices (portrait phones, less than 576px)*/
/* No media query since this is the default in Bootstrap*/

/*
/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
.container_ressources{
    background-color: red;
   }
 }*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
body{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
 }

 /*
/*  Large devices (desktops, 992px and up)
@media (min-width: 992px) {


 }

/*  Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

 }
*/


@media screen and (max-width: 1200px) {
  /* Insérez vos propriétés CSS ici, avec vos sélecteurs*/
  }

