<!-- Block 1-->
<div *ngIf="accueil">
  <div *ngIf="accueil.accueil" class="row">
    <div class="col-sm-5">
      <p class=" text-justify bg-dark-subtle m-2">
        {{accueil.accueil.texteIntroductif}}
      </p>
    </div>
    <div class="col-sm-2 m-2"><img src="/" /> </div>
    <div class="col-sm-2 m-3"><img src="/" /> </div>
    <div class="col-sm-2 m-2"><img src="/" /> </div>
  </div>
  <div class="d-flex m-2 justify-content-end">
    <ul *ngFor="let reseau of reseaux">
      <li><a href="#"><img src="{{reseau}}"></a></li>
    </ul>
  </div>

  <!--Block 2-->
  <div class="row">
    <div class="col-sm-6">
      <div class="d-flex m-2 text-align:left bienvenu-sion">
        {{accueil.accueil.texteBienvenu}}
      </div>
    </div>
    <div class="col-sm-6"></div>
  </div>
</div>