<h2 class="text-center">Annonces pour le mois de juillet 2024</h2>


<div class="annonce">
  <div class="description-annonce-img">

  </div>
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-10">
        <div class="description-annonce">
          <h6>Baptêmes</h6>
          <p>
            Description: Samedi 4 juillet à 14h. Lieu: 26 rue Jules Guesdes,
            Aflortville.
          </p>
        </div>
      </div>

      <div class="col-6 col-sm-10">
        <div class="description-annonce">
          <h6>Mariage</h6>
          <p>
            Description : bénédiction nuptiale samedi 15 juillet à 14h, Lieu: 26
            rue Jules Guesdes, Alfortville
          </p>
        </div>
      </div>

      <!-- Force next columns to break to new line at md breakpoint and up -->
      <!--<div class="w-100 d-none d-md-block"></div>-->

      <div class="col-6 col-sm-10">
        <div class="description-annonce">
          <h6>Travaux</h6>
          <p>
            Description: agrandissement de la salle en cours, besoin de mains
            d'oeuvres, veuillez vous rapprocher des administrateurs.
            Date: 3, 10,18 juillet 2024
            Lieu: 26 rue Jules Guesdes, Alfortville
          </p>
        </div>
      </div>
      <div class="col-6 col-sm-10">
        <div class="description-annonce">
          <h6>Services de Sainte Cène</h6>
          <p>Description: ouverture des portes à partir de 15h
            Date: Tous les 1 er Samedis du mois.
            Lieu: 26 rue Jules Guesdes, Alfortville
    </div>
  </div>

  <div class="col-6 col-sm-10">
    <div class="description-annonce">
      <h6>Réunion des mariés</h6>
      <p>Description: à partir de 15h
        sujets abordés: La place du téléphone au sein du foyer, etc.
        Date: Samedi 28 juillet 2024
        Lieu: 26 rue Jules Guesdes, Alfortville
</div>
<div class="description-annonce-img">

</div>
</div>

  <div class="col-6 col-sm-10">
    <div class="description-annonce">
      <h6>Événement</h6>
      <p>Description: Sortie des jeunes  de 14 ans jusqu'à 30 ans. Prommage du jour: activités en plein air etc. pour toute question,
        veuillez vous rapprocher des administrateurs.
        Date: 13 juillet 2024
        Lieu: Dauville
</div>
</div>
</div>
<div class="d-flex justify-content-center p-3">
  <a routerLink="/ressources/annonces" class="btn btn-ressource">Retour</a>
</div>
