<h3>Administration du site</h3>

<ul class="m-2 administration border rounded">
 <li><a class="nav-link" routerLink="/administration-page-accueil">Administration de la page accueil</a></li>
 <li><a class="nav-link" routerLink="/admin-reseau-social">Administration des réseaux sociaux</a></li>
 <li><a class="nav-link" routerLink="/menu-thematique">Administration menus thématiques</a></li>
 <li><a class="nav-link" routerLink="/ressources/ressource-ajout">Ajouter une ressource</a></li>
</ul>

<h3>Autres pages</h3>

<ul class="m-2 administration border rounded">
    <li><a class="nav-link" routerLink="/message-recus">Messages reçus</a></li>
    <li><a class="nav-link" routerLink="/reseau-social">Réseaux sociaux</a></li>
    <li><a class="nav-link" routerLink="/menu-thematique">Menus thématiques</a></li>
   </ul>