.ressource_presentation h2{
  color:#FF7E05;

}


.ressource_presentation p{
  text-align: center;
}


.card{
  background-color: rgba(31, 76, 96, 0.3);
}

.card-body{
  padding: 0;
}

.btn_ressource{
  background-color:#2F2E3D ;
  color:white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}


.container_ressources{

  background-color: rgba(11, 20, 24, 0.3);
  padding: 5px;
}


/* Extra small devices (portrait phones, less than 576px)*/
/* No media query since this is the default in Bootstrap*/

/*
/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
.container_ressources{
    background-color: red;
   }
 }*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
body{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
 }

 /*
/*  Large devices (desktops, 992px and up)
@media (min-width: 992px) {


 }

/*  Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

 }
*/


@media screen and (max-width: 1200px) {
  /* Insérez vos propriétés CSS ici, avec vos sélecteurs*/
  }

