
      <!-- présentation de la page ressources------------------------------------------>

<div class="row">
    <div class="ressource-presentation text-center">
        <h2>Ressources</h2>
        <h5 class="p-3">Vous trouverez toutes annonces, les cantiques, les témoignages, les photos etc</h5>
    </div>
</div>

<!-- liens de la page ressouces sous forme des cards-------------------------------------------------->

<div class="container_ressources d-flex justify-content-around bg-light p-2 bg-opacity-22">
    <div class="row m-5">
      <div class="col-sm-3">
        <div class="card">
          <a routerLink="/ressources/annonces" class="">
          <div class="card-body text-center">
            <img class="card-img-top" style="height: 200px;" src="assets/images_provisoire_ressource/annonce.jpg" alt="Card image cap">
            <h6 class="card-title text-center p-3">Les annonces</h6>
            <p class="card-text p-1">Toutes les annonces de notre église.</p>
          </div>
        </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <a href="/ressources/cantiques-chants" class="">
          <div class="card-body text-center">
            <img class="card-img-top" style="height: 200px;" src="assets/images_provisoire_ressource/cant.jpg" alt="Card image cap">
            <h6 class="card-title text-center p-2">Cantiques,adorations, louanges</h6>
            <p class="card-text col 12">“Louez Dieu dans son sanctuaire! Louez-le dans l’étendue, où éclate sa puissance !
              2 Louez-le pour ses hauts faits! Louez-le selon l'immensité de sa grandeur! ” -Psaumes 150 </p>
          </div>
        </a>
        </div>
      </div>
      <div class="col-sm-3 sm-3">
        <div class="card">
          <a href="/ressources/temoignages" class="">
          <div class="card-body text-center">
            <img class="card-img-top" style="height: 200px;" src="assets/images_provisoire_ressource/chainbroken.jpg" alt="Card image cap">
            <h6 class="card-title text-center p-2">Les témoignages</h6>
            <p class="card-text col-12">Voici les miracles qui accompagneront ceux qui auront cru: en mon nom,
              ils chasseront les démons; ils parleront de nouvelles langues;ils saisiront des serpents;
              s'ils boivent quelque breuvage mortel, il ne leur fera point de mal; ils imposeront les mains aux malades,
              et les malades, seront guéris.</p>

          </div>
        </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
         <a href="/ressources/ceremonies-evenement" class="">
          <div class="card-body text-center">
            <img class="card-img-top" style="height: 200px;" src="assets/images_provisoire_ressource/img-mariages/wedding.jpg" alt="Card image cap">
            <h6 class="card-title text-center p-2">Cérémonies, baptêmes, événements, photos, vidéos etc.</h6>
            <p class="card-text col 12">Vous trouverez toutes les informations concernant les événements organisés à l’église.</p>

          </div>
        </a>
        </div>
      </div>
    </div>
  </div>



  <div class="d-flex justify-content-center p-5">
    <a routerLink="/ressources/voir-toutes-les-pages" class="btn btn-ressource">Voir toutes les pages</a>
</div>


