<a class="m-2 nav-link retourLink" routerLink="/administration-general"><i class="fa fa-arrow-left"></i></a>
<h2><a routerLink="/admin-reseau-social">+ Ajouter un réseau social</a></h2>
<table *ngIf="resaux && resaux.length" class="table m-2">
    <thead>
        <tr>
            <th>Id</th>
            <th>Url</th>
            <th>Site</th>
            <th>Page </th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let r of resaux">
            <td>{{r.id}}</td>
            <td [innerHTML]="r.urlImage"></td>
            <td [innerHTML]="r.site"></td>
            <td>{{r.accueilId}}</td>
            <td>{{r.description}}</td>
            <td style="width: 15px;"><a [routerLink]="['/reseau-social',r.id]">
                <i class="fa fa-info"></i>
                <i class="fa fa-circle-info"></i>
            </a></td>
            <td style="width: 15px;"></td>
        </tr>
    </thead>
</table>